<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="static/script.js"></script>

    <title>Homework_15</title>
</head>
<body>
<form name = "commentForm" action="/comment" method="post" >
    <h2 class="form-comment-heading">Please add comment </h2>
    Name <input type="text" name="name">
    Comment <input type="text"  name="comment">
    <input type="submit" value="Submit Comment" />
</form>
</body>
</html>